* {
    box-sizing: border-box;
}


/* Fontface */

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: nito;
    src: url(../fonts/Nunito-Regular.ttf);
}


/* Basic */

html {
    font-family: nito;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

button {
    font-family: nito;
    font-size: 1rem;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: rgb(9, 179, 9);
    outline: none;
}

button:hover {
    color: rgb(69, 43, 140);
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.squre {
    grid-column: span 1;
    grid-row: span 1;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}


/* layout */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-nav ul {
    display: flex;
    margin: 0;
    align-items: center;
}

header .main-nav li {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    /* margin-inline-end: 10px; */
}

.main-container .filter {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.filter-container>* {
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.main-content .memes-gallery {
    display: none;
}

main .meme-editor {
    display: none;
    justify-content: space-between;
}

.canvas-container {
    width: fit-content;
    max-height: 450px;
}

main .meme-editor .control {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid; */
    background-color: #fdfdfd;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

footer {
    height: 90px;
}


/* componnets */

body {
    background-color: #d8d8d8;
}

header {
    background-color: #ff5d33;
}

header li {
    cursor: pointer;
    color: #ffffff;
    height: 70px;
    line-height: 3.5;
    transition: 0.3s;
    font-size: 20px;
}

header li:hover {
    color: #000;
    border-bottom: 3px outset #000000;
}

.filter input {
    border: 1px solid #d8d8d8;
    padding: 8px;
    margin-inline-start: 5px;
}

.search-container {
    display: flex;
}

.search-container svg {
    fill: #d8d8d8;
}

.filter input:focus {
    outline: none;
}

#toggle-color {
    opacity: 0;
    position: relative;
    top: -2px;
}

.font-color {
    position: relative;
}

.color-palete {
    position: relative;
    left: -35px;
    top: 3px;
}

.color-palete svg {
    position: relative;
    top: -7px;
}

.text-decoration {
    display: flex;
    justify-content: space-between;
}

.control form.text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.move-btn {
    display: flex;
    justify-content: space-around;
}

.text-move {
    width: 40px;
}

.align {
    display: flex;
    justify-content: center;
    width: 100px;
}

.color-palete {
    position: relative;
    top: 10px;
    right: 20px;
}

.filter {
    background-color: #fdfdfd;
}

#text-input {
    color: #ff5d33;
    background-color: #dad8d9;
    padding: 20px 10px;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    border: none;
}

#font-select {
    padding: 0;
    border-radius: 15px;
    outline: none;
    position: relative;
    right: 20px;
    border: none;
}

.add-delete {
    display: flex;
    justify-content: space-between;
}

.download-save {
    display: flex;
    justify-content: space-around;
}

form.font-color {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #dad8d9;
}

.font-color button svg {
    position: relative;
    top: 4px;
}

canvas {
    cursor: pointer;
}

footer {
    background-color: #ff5d33;
    text-align: center;
    color: #FFF;
}

.logo {
    fill: white;
    stroke: #FFF;
}

#my-canvas {
    display: block;
}

#mobile-canvas {
    display: none;
}

@media (max-width:600px) {
    #my-canvas {
        display: none;
    }
    #mobile-canvas {
        display: block;
    }
    main .meme-editor {
        flex-direction: column;
        align-items: center;
    }
    #my-canvas {
        width: 300px;
        height: 300px;
        margin: auto;
    }
    main .meme-editor .control {
        padding-inline-start: 0px;
        margin: 0;
    }
}