* {
    box-sizing: border-box;
}


/* Fontface */

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSansJP-Regular.otf);
}


/* Basic */

html {
    font-family: noto;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

button {
    font-family: noto;
    font-size: 1rem;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: rgb(9, 179, 9);
    outline: none;
}

button:hover {
    color: rgb(69, 43, 140);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.squre {
    grid-column: span 1;
    grid-row: span 1;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}


/* layout */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-nav ul {
    display: flex;
    margin: 0;
    align-items: center;
}

header .main-nav li {
    height: 80px;
    padding: 25px;
}

.main-container .filter {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main .meme-editor {
    display: none;
}

.canvas-container {
    width: fit-content;
}

main .meme-editor .control {
    padding-inline-start: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer {
    height: 100px;
    text-align: center;
}


/* componnets */

body {
    background-color: lightgray;
}

header {
    background-color: lightgreen;
}

.filter {
    background-color: lightgray;
}

footer {
    background-color: lightskyblue;
    padding-block-start: 10px;
}